/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: var(--font-weight-normal);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color var(--transition-normal), background-color var(--transition-normal);
  line-height: 1.6;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
