@import './vars.css';
@import './base.css';

#app {
  max-width: var(--container-width);
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-xl);
  font-weight: var(--font-weight-normal);
}

a,
.green {
  text-decoration: none;
  color: var(--color-text-link);
  transition: var(--transition-normal);
  padding: var(--spacing-xs);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-background-muted);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 var(--spacing-xl);
  }
}
